#post-ad-section{
    overflow: auto;
}

#post-ad-fieldset{
    display: flex;
    justify-content: space-evenly !important;
    align-items: center;
    padding: 2em;
    margin: 0;
    border: none;
}

#post-ad-fieldset label{
    display: block;
    padding: 0;
    margin: 1em auto 0 auto;
    width: 13em;
}

#post-ad-fieldset input{
    height: 2.6em;
    width: 25em;    
    border: .06em solid lightgray;
    border-radius: .3em;
}

#post-ad-fieldset input:hover{
    border: .06em soid lightskyblue;
}

#post-ad-fieldset select{
    width: 7em;
    margin: 0 auto;
    align-self: flex-end;
}

#post-ad-fieldset textarea{
    width: 90%;
    margin: 0 auto;
    height: 13em;
}

#post-ad-fieldset p{
    text-align: center;
}

#post-ad-submit{
    margin: 2em auto;
    width: 5em;
    height: 2em;
    font-size: 1em;
}

@media screen and (max-width: 770px){
    #post-ad-section{
    }

    #post-ad-fieldset{
        width: 100%;
        padding: 1em 2em;
    }

    #post-ad-fieldset label{
        width: 90%;
    }

    #post-ad-fieldset input{
        width: 90%;
        margin: 0;
    }
}