#nav-header{
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 4;
    top: 1.25em;
    right: 0;
}

#nav-container {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

#nav-container button{
    margin: 0 3em 0 -2.5em;
    width: 6em;
    height: 3em;
    border: none;
    background-color: white;
    border-radius: 1em;
    border: .2em solid black;
}

#log-out-button1{
    display: none;
}

.nav-link{
    font-size: 1em;
    color: white;
    padding-top: .5em;
    text-shadow: .1em .1em .05em black;
}

#close-menu{
    display: none
}

@media screen and (max-width: 770px){
    #nav-header{
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 4;
        transform: translate(-100%);
        background-color: white;
    }

    .display-header{
        animation: open-mobile-menu .6s ease-in ;
        transform: translate(0) !important;
    }

    .close-header{
        animation: close-mobile-menu .5s ease-out;
    }

    #nav-container{
        flex-direction: column;
        justify-content: space-evenly;
    }

    #nav-container div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #nav-container button{
        margin: 1em;
    }

    #log-out-button1{
        display: block;
        align-self: flex-end !important;
    }

    #log-out-button2{
        display: none;
    }

    #close-menu{
        display: block;
        position: relative;
        width: 2em;
        text-align: center;
        margin-left: auto;
        margin-right: 1em;
    }
}

@keyframes open-mobile-menu{
    from{
        transform: translate(-100%);
    }

    to{ 
        transform: translate(0);
    }
}

@keyframes close-mobile-menu{
    from{
        transform: translate(0);
    }

    to{
        transform: translate(-100%);
    }
}