#filter-spaces-section{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100vh;
    left: 0;
    bottom: 0;
    font-size: 1em;
    background-color: white;
    transform: translateY(0);
    animation: display-filter .4s ease-in;
    overflow: auto;
}

#filter-spaces-form{
    height: 100%;
    padding: 0;
}

#filter-spaces-cancel-filter{
    display: block;
    width: 6.5em;
    height: 3em;
    margin: 3em 1em 1em auto;
    background-color: red;
    color: white;
    border: none; 
    border-radius: .5em;
}

#filter-spaces-fieldset{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    padding: 7%;
    border: none;
}

#filter-spaces-fieldset label, #filter-spaces-fieldset select, #filter-spaces-fieldset p{
    display: block;
    width: 8em;
    margin: 0 auto;
    font-size: 1em;
}

#filter-spaces-fieldset p{
    margin-top: 1em;
    margin-bottom: 0;
}

#filter-spaces-fieldset label{
    margin-top: .1em;
}

#filter-spaces-btn{
    position: absolute;
    z-index: 2;
    width: 6.5em;
    height: 2em;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1.5em;
    font-size: 1em;
    border: none;
    border-radius: .3em;
    background-color: skyblue;
    color: white;
}

#filter-ad-price{
    width: 18em;
    height: 2.5em;
    transform: translateX(-22%);
}

#confirm-filter-btns{
    display: flex;
    justify-content: space-evenly;
    margin: 8em auto;
}

#confirm-filter-btns button{
    width: 5em;
    height: 3em;
    margin: 0 2em;
}

@media screen and (max-width: 770px){
    #filter-spaces-section{
        width: 100%;
        min-height: 100vh;
        top: 0;
        left: 0;
        overflow: auto;
    }

    #filter-spaces-cancel-filter{
        display: block;
        width: 6em;
        height: 3em;
        margin: 2em 1em 2em auto;
    }
}

@keyframes display-filter{
    from{
        transform: translateY(100%);
    }

    to{
        transform: translateY(0)
    }
}