/*.marker{
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 2.5em;
    height: 2.5em;
    border-radius: 100%;
    border: .2em solid black;
    cursor: pointer;   
    z-index: 0 !important;
}


.marker:hover{
    background-color: blue;
    border: .2em solid red;
}
*/

.ad-info{
    margin: 0;
    padding: 3em;
    height: auto;
    width: auto;  
    z-index: 4 !important;
    text-align: center;
}

.ad-info h2{
    text-align: center;
}

@media screen and (max-width: 770px){
    .ad-info{
        padding: 0;
    }
}