#search-location{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#search-location input{
    display: block;
    position: absolute;  
    top: 1em;  
    width: 40em;
    height: 3em;
    font-size: 1em;
    padding: 0 0 0 3em;
    z-index: 2;
    margin: 0;
    border-radius: .5em;
    border: .1em solid lightgray;
    outline: none;
}

#nav-burger{
    display: block;
    position: absolute;
    top: 2.5em;
    left: 1.5em;
    z-index: 3;
    padding: 0;
    margin: 0;
    border-radius: 100%;
    border: none;
    background-color: white;
}

#nav-burger div{
    width: 1.5em;
    height: .25em;
    margin: .25em 0;
    background-color: black;
}

#search-spaces-input{
    width: 0;
    height: 0;
    position: absolute;
    font-size: 1.6em;
    z-index: 3;
    top: 1em;
    right: -1.25em;
    padding: 0;
    margin: 0 0 0 -1em;
    border-radius: 100%;
    border: none;
    background-color: white;
    cursor: pointer;
}

.autocomplete-dropdown-container{
    position: relative;
    width: 35em;
    top: 4em;
    left: 50%;
    transform: translate(-43%);
    background-color: white;
}

.suggestion-item{
    position: relative;
    z-index: 4 !important;
    width: 100%;
    padding: 0 1em;
    margin: 0 0 0 2em;
    border: .1em solid lightgrey;
}

@media screen and (max-width: 770px){
    #search-location{
        width: 100vw;
        height: 4.5em;
        margin: 0;
        left: 0;
        transform: translate(0);
        background-color: white;
    }

    #search-location input{
        display: block;
        position: absolute;
        width: 95%;
        top: .79em;
        transform: translate(-50%);
        left: 50%;
    }  

    #search-spaces-input{
        top: .9em !important;
        right: 2em !important;
    }

    #nav-burger{
        display: block;
        top: 1.9em;
        left: 1.75em;
        background-color: white;
    }

    #nav-burger div{
        width: 1.5em;
        height: .25em;
        margin: .25em 0;
        background-color: black;
    }
    
    #search-spaces-input{
        top: 1.5em;
        right: 4.2em;
    }

    .autocomplete-dropdown-container{
        position: relative;
        width: 100vw;
        top: 4.5em;
        left: 0;
        transform: translate(0);
    }
    
}